$data-pixel-map: (
  gx: (
    (12),
  ),
  box: (
    (44),
  ),
  py: (
    (80),
  ),
);

$data-percent-map: (
  w: (
    (sm,1296,416),
  ),
  gw: (
    (sm,1296,636),
    (md,1296,416),
  ),
  gx: (
    (sm,1296,24),
  ),
  gy: (
    (base,1296,24),
    (sm,1296,24),
  ),
);